@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FuturaPT";
    src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FuturaPTExtra";
    src: url("../fonts/futura_pt_extra_bold_oblique.woff2") format("woff2"), url("../fonts/futura_pt_extra_bold_oblique.woff") format("woff");
    font-weight: 800;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@-ms-viewport {
    width: device-width;
}

[role="button"] {
    cursor: pointer;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(34, 44, 69, 0);
}

body {
    font: 300 -apple-system, BlinkMacSystemFont, "PT Sans", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #90c9e3;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    text-decoration: none;
}

button {
    transition: 0.3s;
    border-radius: 0;
    background: transparent;
}

img {
    vertical-align: middle;
    border-style: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

svg {
    fill: currentColor;
}

a svg, button svg {
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "PT Sans", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 1.2;
    color: currentColor;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

blockquote {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

abbr[title], abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

dfn {
    font-style: italic;
}

b, strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

pre, code, kbd, samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 1rem;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 15px;
    padding-bottom: 15px;
    color: gray;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

.container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.63%, rgba(78, 2, 0, 0.28) 100%), url(../img/content/bg.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0);
}

.girls__container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 66px 33px;
    background: url("../img/content/bg-top.png") no-repeat;
    background-size: cover;
    -ms-flex-direction: column;
        flex-direction: column;
}

.girls__title {
    z-index: 1;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 110%;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.girls__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    border: none;
    background: #ef0000;
    border-radius: 6px;
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    width: 232px;
    height: 80px;
    margin: 21px auto 0;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.girls__button:hover {
    opacity: 0.7;
}

.girls {
    position: absolute;
    bottom: 0;
    width: 96vh;
    object-fit: contain;
    bottom: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}

@keyframes up-down {
    0% {
        transform: translate(0);
    }
    12.5% {
        transform: translate(0, 2%);
    }
    25% {
        transform: translate(0);
    }
    37.5% {
        transform: translate(0, 2%);
    }
    50% {
        transform: translate(0);
    }
    62.5% {
        transform: translate(0, 2%);
    }
    75% {
        transform: translate(0);
    }
    87.5% {
        transform: translate(0, 2%);
    }
    100% {
        transform: translate(0);
    }
}

.girls__podarok_top {
    animation: up-down 7.5s infinite ease-in-out;
    position: absolute;
    top: -9%;
    left: -26%;
    width: 60%;
}

.girls__podarok_left {
    animation: up-down 7.5s infinite ease-in-out;
    position: absolute;
    top: 70%;
    left: -31%;
    width: 76%;
    z-index: 2;
}

.girls__podarok_right {
    position: absolute;
    top: 24%;
    left: 63%;
    width: 58%;
    z-index: 1;
    animation: up-down 7.5s infinite ease-in-out;
}

.container_girl {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: url(../img/content/tree.gif) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0);
    padding-top: 68px;
    background-position: -12vw 50%;
}

.girl__container {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

.girl {
    margin-top: auto;
    z-index: 1;
    position: absolute;
    width: 100%;
    -ms-transform: translateX(40px);
        transform: translateX(40px);
    object-fit: cover;
    height: 65vh;
    bottom: -2%;
}

.girl__title {
    color: white;
    font-family: "FuturaPTExtra";
    font-style: oblique;
    font-weight: 800;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
}

.girl__title_mobil {
    display: block;
    margin-bottom: 12px;
}

.girl__form-container {
    z-index: 4;
    display: none;
    max-width: 45%;
    width: 100%;
    box-sizing: border-box;
    padding: 60px;
    height: -webkit-fit-content;
    height:         fit-content;
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    border-radius: 6px;
}

.form__button_bg {
    background-color: white;
    color: #490000;
}

.girl__button-signup {
    max-width: 289px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 14px 0;
    border: none;
    background-color: white;
    border-radius: 6px;
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #490000;
    transition: 0.3s;
    cursor: pointer;
    display: block;
}

.girl__button-signup:hover {
    opacity: 0.7;
}

.modal__form_mobil {
    margin: 0 auto;
    max-width: 327px;
}

.form__input_mobil {
    border: 1px solid #ffffff;
}

.form__button_mobil {
    width: 100%;
    padding: 16px 0;
}

.form__label_mobil:last-of-type {
    margin-bottom: 11px;
}

.container_hot {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.15) url(../img/content/bg-bubble.gif) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.container__hot-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hot__form {
    height: 100%;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 41px auto 0;
    display: -ms-flexbox;
    display: flex;
    max-width: 547px;
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
}

.hot__title {
    z-index: 1;
    text-align: center;
    font-family: Georgia;
    font-style: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #b40000;
}

.hot__title span {
    background: linear-gradient(90deg, #a40000 1.77%, #f90002 102.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 40px;
    line-height: 30px;
}

.hot__input {
    display: none;
    padding: 16px;
    text-align: left;
    border: none;
    outline: none;
    max-width: 288px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(201, 0, 2, 0.5);
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1f1f1f;
}

.hot__button {
    display: none;
    border: 0;
    max-width: 288px;
    padding: 20.5px 0;
    width: 100%;
    background: linear-gradient(90deg, #a40000 0%, #f50002 100%);
    border-radius: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.hot__button:hover {
    opacity: 0.9;
}

.hot__toys {
    position: absolute;
    bottom: 0;
    display: none;
    margin-top: auto;
    width: 407px;
}

.hot__two-girls {
    -ms-transform: scale(1.12) translateY(56px);
        transform: scale(1.12) translateY(56px);
    height: inherit;
    object-fit: contain;
    width: 100%;
    height: 76%;
    bottom: 0;
    margin-right: auto;
}

.hot__girl-gift {
    display: none;
    bottom: 0;
    right: 0;
    position: absolute;
    height: 100%;
}

.hot__sign-up {
    display: block;
}

.hot__input_modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hot__toys_bottom {
    width: 100%;
    object-fit: contain;
    max-height: 51%;
    position: absolute;
    bottom: 0;
}

.modal {
    overflow-y: auto;
    height: 0;
    opacity: 0;
    z-index: -2;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(39, 0, 0, .95);
    -webkit-backdrop-filter: blur(28px);
            backdrop-filter: blur(28px);
    transition: 0.3s, height 0s 0.5s;
}

.modal_tree {
    background: rgba(255, 255, 255, 0.95);
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
}

.modal_opened {
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 99;
}

.modal__container {
    position: relative;
    margin: auto;
    height: -webkit-fit-content;
    height:         fit-content;
    padding: 43px;
    max-width: 554px;
}

.modal__container_padding {
    margin: 0;
    width: 100%;
    padding: 108px 12px 0;
}

.modal__container_padding-red {
    width: 100%;
    height: 100%;
    padding-top: 57px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
}

.modal__title {
    font-family: Nunito;
    font-style: italic;
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.02em;
    color: white;
}

.modal__form {
    margin-top: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

.form__input {
    outline: none;
    width: 100%;
    border: none;
    background: transparent;
    padding: 15px 16px 15px 60px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.form__label {
    margin-bottom: 34px;
    position: relative;
}

.form__label:last-of-type {
    margin-bottom: 48px;
}

.form__label::after {
    content: "";
    opacity: 0.5;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    left: 12px;
    position: absolute;
    width: 24px;
    height: 24px;
}

.form__label_active::after {
    opacity: 1;
}

.form__input:focus.form__input::-moz-placeholder {
    color: white;
}

.form__input:focus.form__input::-webkit-input-placeholder {
    color: white;
}

.form__label-user::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 11C12.9889 11 13.9556 10.7068 14.7779 10.1573C15.6001 9.60794 16.241 8.82705 16.6194 7.91342C16.9978 6.99979 17.0969 5.99446 16.9039 5.02455C16.711 4.05465 16.2348 3.16373 15.5355 2.46447C14.8363 1.76521 13.9454 1.289 12.9755 1.09608C12.0055 0.90315 11.0002 1.00217 10.0866 1.3806C9.17295 1.75904 8.39206 2.39991 7.84265 3.22215C7.29324 4.0444 7 5.0111 7 6C7.00159 7.3256 7.52888 8.59644 8.46622 9.53378C9.40356 10.4711 10.6744 10.9984 12 11V11ZM12 3C12.5933 3 13.1734 3.17595 13.6667 3.50559C14.1601 3.83524 14.5446 4.30377 14.7716 4.85195C14.9987 5.40013 15.0581 6.00333 14.9424 6.58527C14.8266 7.16722 14.5409 7.70177 14.1213 8.12132C13.7018 8.54088 13.1672 8.8266 12.5853 8.94236C12.0033 9.05811 11.4001 8.9987 10.8519 8.77164C10.3038 8.54458 9.83524 8.16006 9.50559 7.66671C9.17595 7.17337 9 6.59335 9 6C9 5.20435 9.31607 4.44129 9.87868 3.87868C10.4413 3.31607 11.2044 3 12 3V3ZM4 23H20C20.2652 23 20.5196 22.8946 20.7071 22.7071C20.8946 22.5196 21 22.2652 21 22V18C20.9984 16.6744 20.4711 15.4036 19.5338 14.4662C18.5964 13.5289 17.3256 13.0016 16 13H8C6.6744 13.0016 5.40356 13.5289 4.46622 14.4662C3.52888 15.4036 3.00159 16.6744 3 18V22C3 22.2652 3.10536 22.5196 3.29289 22.7071C3.48043 22.8946 3.73478 23 4 23ZM5 18C5 17.2044 5.31607 16.4413 5.87868 15.8787C6.44129 15.3161 7.20435 15 8 15H16C16.7956 15 17.5587 15.3161 18.1213 15.8787C18.6839 16.4413 19 17.2044 19 18V21H5V18Z' fill='white' /%3E%3C/svg%3E%0A");
}

.form__label-password::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 22H19C19.7956 22 20.5587 21.6839 21.1213 21.1213C21.6839 20.5587 22 19.7956 22 19V10C22 9.20435 21.6839 8.44129 21.1213 7.87868C20.5587 7.31607 19.7956 7 19 7H17V6C17 4.67392 16.4732 3.40215 15.5355 2.46447C14.5979 1.52678 13.3261 1 12 1C10.6739 1 9.40215 1.52678 8.46447 2.46447C7.52678 3.40215 7 4.67392 7 6V7H5C4.20435 7 3.44129 7.31607 2.87868 7.87868C2.31607 8.44129 2 9.20435 2 10V19C2 19.7956 2.31607 20.5587 2.87868 21.1213C3.44129 21.6839 4.20435 22 5 22ZM9 6C9 5.20435 9.31607 4.44129 9.87868 3.87868C10.4413 3.31607 11.2044 3 12 3C12.7956 3 13.5587 3.31607 14.1213 3.87868C14.6839 4.44129 15 5.20435 15 6V7H9V6ZM4 10C4 9.73478 4.10536 9.48043 4.29289 9.29289C4.48043 9.10536 4.73478 9 5 9H19C19.2652 9 19.5196 9.10536 19.7071 9.29289C19.8946 9.48043 20 9.73478 20 10V19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H5C4.73478 20 4.48043 19.8946 4.29289 19.7071C4.10536 19.5196 4 19.2652 4 19V10ZM10 14.5C10 14.1044 10.1173 13.7178 10.3371 13.3889C10.5568 13.06 10.8692 12.8036 11.2346 12.6522C11.6001 12.5009 12.0022 12.4613 12.3902 12.5384C12.7781 12.6156 13.1345 12.8061 13.4142 13.0858C13.6939 13.3655 13.8844 13.7219 13.9616 14.1098C14.0387 14.4978 13.9991 14.8999 13.8478 15.2654C13.6964 15.6308 13.44 15.9432 13.1111 16.1629C12.7822 16.3827 12.3956 16.5 12 16.5C11.4696 16.5 10.9609 16.2893 10.5858 15.9142C10.2107 15.5391 10 15.0304 10 14.5Z' fill='white' /%3E%3C/svg%3E%0A");
}

.form__button-submit {
    margin: 0 auto;
    width: 232px;
    padding: 25px 0;
    border: none;
    background: #ef0000;
    border-radius: 6px;
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.form__button-submit:hover {
    background: #8b0000;
}

.modal__button-submit_white {
    background-color: white;
    color: #490000;
    width: 100%;
    padding: 8px 0;
}

.hot__form_modal {
    margin: 0;
}

@media (min-width: 480px) {
    .container_girl {
        background-position: 0% 50%;
    }

    .girl {
        z-index: 1;
        position: unset;
        height: 88vh;
    }
}

@media (min-width: 640px) {
    .hot__title {
        font-size: 32px;
        line-height: 156%;
    }

    .hot__title span {
        font-size: 67px;
        line-height: 73%;
    }
}

@media (min-width: 768px) {
    .girls__container {
        padding: 100px 125px 0;
    }

    .girls__title {
        font-size: 5.6vw;
    }

    .girl__title {
        font-size: 3.7vw;
    }

    .form__button_bg {
        font-size: 24px;
        padding: 18px 0;
    }

    .modal__container {
        padding: 60px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .modal__title {
        font-size: 36px;
    }

    .form__button-submit {
        font-size: 32px;
        padding: 30px 0;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .girls {
        width: 132vh;
    }
}

@media (min-width: 1024px) {
    .container_girl {
        padding-top: 44px;
    }

    .girl__container {
        -ms-flex-direction: row;
            flex-direction: row;
        padding-right: 4%;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .girl {
        object-fit: contain;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        bottom: 0;
        height: 101%;
        left: 28vw;
    }

    .girl__title_mobil {
        display: none;
    }

    .girl__form-container {
        display: block;
    }

    .girl__button-signup {
        padding: 25px 0;
        display: none;
    }

    .modal__form_mobil {
        display: none;
    }
}

@media (min-width: 1025px) {
    .hot__form {
        margin: 67px 0 0 auto;
    }

    .hot__form {
        margin: 67px auto 0;
    }

    .hot__input {
        display: block;
    }

    .hot__button {
        display: block;
    }

    .hot__toys {
        display: block;
    }

    .hot__two-girls {
        position: absolute;
        height: 95vh;
        width: unset;
        -ms-transform: translate(-82px, 10px) scale(1);
            transform: translate(-82px, 10px) scale(1);
    }

    .hot__girl-gift {
        display: block;
    }

    .hot__sign-up {
        display: none;
    }

    .hot__input_modal {
        display: none;
    }
}

@media (min-width: 1200px) {
    .girls__button {
        width: unset;
        height: unset;
        font-size: 2.2vw;
        letter-spacing: 0.02em;
        margin: auto auto 16%;
        padding: 2.5vw 9vw;
    }

    .girls__podarok_top {
        top: -10%;
        left: 23%;
        width: 23%;
    }

    .girls__podarok_left {
        top: 24%;
        left: -18%;
        width: 48%;
    }

    .girls__podarok_right {
        top: 53%;
        left: 66%;
        width: 29%;
    }

    .girl__container {
        padding-right: 14%;
    }
}

@media screen and (min-width: 1200px) {
    .girls {
        width: 82%;
    }
}

@media (min-width: 1441px) {
    html {
        font-size: 1.11vw;
    }

    .form__input_girl {
        font-size: 1.3vw;
    }

    .form__button_girl {
        font-size: 1.7vw;
    }

    .hot__two-girls {
        max-width: 100%;
    }
}

@media (max-height: 469px) {
    .container_girl {
        padding-top: 10px;
    }
}

@media (max-height: 569px) {
    .girl {
        z-index: -1;
        height: 56%;
        -ms-transform: translateX(18px);
            transform: translateX(18px);
    }
}

@media (min-height: 1024px) {
    .girl {
        height: 77vh;
    }
}

@media (min-height: 1200px) {
    .girl {
        height: 96vh;
    }
}
